.column_two, .rowbzcreative ,.digital-marketing{
    background: black !important;
}

.content-section__heading ,.digital-marketing-model1__text  {
    color: white !important;
}
p.content__description.ui.text.size-md{
    color: white !important;
}
h5.columnview__text--scroll.ui.heading.size-md{
    color: white !important;
}
h4.content__feedback-text.ui.heading.size-xl{
    color: white !important;
}
h1.content__title.ui.heading.size-5xl{
    color: white !important;
}
span.content__subtitle-span{
    color: white !important;
}
h4.content__feedback-text.ui.heading.size-xl{
    color: white !important;
}
.content-section__row{
    border-radius: 20px;
}
h5.content-section__heading.ui.heading.size-8xl{
    color: white !important;
}
p.content-section__description.ui.text.size-md{
    color: white !important;
}
p.digital-marketing-model1__text.ui.text.size-xl{
    color: white !important;
}
h2.column-one__subtitle.ui.heading.size-9xl{
    color: white !important;
}
.userprofile{
    background-color: rgb(237, 237, 237) !important;
}
.proccess{
    background: #68698842 !important;
}
h4.proccess__content--main__content__title.ui.heading.size-3xl{
    color: white !important;
}
p.proccess__content--main__content__text.ui.text.size-s{
    color: white !important;
}
h2.proccess__content__subtitle.ui.heading.size-9xl{
    color: white !important;
}
h2.testimonials-section__title.ui.heading.size-9xl{
    color: white !important;
}
span.testimonials-section__subtitle-span-1{
    color: white !important;
}
div.testimonials-section__slider-item-container{
    background-color: rgb(33, 33, 33) !important;
}
h3.testimonials-section__testimonial-name.ui.heading.size-4xl{
    color: white !important;
}
h3.testimonials-section__testimonial-name.ui.heading.size-2xl{
    color: white !important;
}
p.testimonials-section__testimonial-text.ui.text.size-md {
    color: white !important;
}
p.testimonials-section__testimonial-text.ui.text.size-xl{
    color: white !important;
}
