.voice-with-hr-div {
    overflow-x: hidden !important;
}

.main-div {
    width: 100vw;
    height: 640px;
    display: flex;
    justify-content: center;
    background-color: black;
}

.header {
    width: 94%;
    height: 600px;
    background-color: #FFBE3C;
}

.header-img {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    background-color: transparent;
    padding-right: 20px;
}

.header-img.scrolled {
    background-color: black;
}

.header-img>div {
    width: 150px;
    height: 90px;
}

.header-img>div>img {
    width: 141px;
    height: 79px;
    background-color: white;
    border-radius: 10px;
    padding: 0px 14px;
}

.header-img>div>button {
    color: white;
    border: none;
    padding: 5px 15px;
    background-color: #FF6058;
    border-radius: 8px;
    font-weight: 700;
}

.schedule-lang-div {
    height: 100%;
    display: flex;
    gap: 10px;
    position: relative;
    cursor: pointer;
    align-items: center;
}

.language-div {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    color: white;
}

.language-div>p {
    font-weight: 700;
    font-size: larger;
    padding-top: 15px;
}

.fa-globe {
    font-size: larger;
}

.header-content-main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.header-content-main>h2 {
    margin-top: 30px;
    font-size: 60px;
    color: white;
    font-family: "Aleo", serif;
    font-weight: 500;
}

.header-content-main>img {
    width: 46%;
    height: 200px;
}

.header-content-main>h4 {
    font-size: 25px;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}

.conversation-button {
    width: 300px;
    padding: 10px 30px;
    font-size: large;
    font-weight: 700;
    outline: none;
    border: none;
    color: white;
    background-color: black;
}

.conversation-button:hover {
    color: black;
    background-color: white;
    border: none;
}

.description-main {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    background-color: black;
}

.description {
    width: 94%;
    display: flex;
    padding: 0px 300px;
    flex-direction: column;
    align-items: center;
}

.description>img {
    width: 67px;
    height: 67px;
    margin-bottom: 40px;
}

.description>p {
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

.description>h6 {
    font-weight: 700;
    color: #FFBE3C;
    padding: 0px;
}

.content-div {
    display: flex;
    justify-content: center;
    background-color: black;
}

.content {
    width: 94%;
    height: 90vh;
    background-color: black;
    display: flex;
    align-items: end;
    padding-bottom: 10px;
}

.content-image-div {
    width: 50%;
    display: flex;
    justify-content: end;
}

.content-text-div {
    width: 50%;
    height: 550px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.content-text {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-text>h3 {
    color: white;
    font-size: 40px;
    font-weight: 600px;
}

.content-text>p {
    color: gray;
    width: 75%;
    line-height: 20px;
}

.content-image-div>div {
    background-image: url('../images/voice-with-hr/darkgif.gif');
    background-repeat: no-repeat;
    background-position: center;
    width: 480px;
    height: 590px;
}

.content-text>div>p {
    font-size: 20px;
    font-weight: 600;
}

.form-div {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: black;
}

.form-carousel {
    width: 94%;
    /* height: 100vh; */
    display: flex;
}

.form-carousel-div {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.form-carousel-content {
    width: 40%;
}

.form-carousel-content>hr {
    background-color: black;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
}

.form-carousel-div2 {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: end;
}

.form-carousel-div2>form>div {
    width: 100%;
    max-width: 450px;
    height: 100%;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: #FFBE3C;
}



.form-carousel-div2>form>div>h2 {
    width: 200px;
    color: white;
}

.form-carousel-div2>form>div>p {
    color: white;
}

.form-carousel-div2>form>div>input {
    background-color: transparent;
    border: none;
    outline: none;
    padding-bottom: 15px;
    color: white;
    border-bottom: 1px solid white;
}

.form-carousel-div2>form>div>input::placeholder {
    color: white;

}

.form-carousel-div2>form>div>input:focus {
    border: none;
    border-bottom: 1px solid white;
}

.form-input {
    display: flex;
    gap: 10px;

}

.form-input>div {
    width: 50%;
}

.form-input>div>input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: white;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
}

.form-input>div>div>input::placeholder {
    color: white;
}

.form-input>div>div>input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: white;
    border-bottom: 1px solid white;
}

#contactForm input:-webkit-autofill {

    -webkit-box-shadow: 0 0 0 30px #FFBE3C inset !important;
    -webkit-text-fill-color: white !important;
}

/* For other browsers (optional) */
#contactForm input:-moz-autofill {
    box-shadow: 0 0 0 30px #FFBE3C inset !important;
    text-fill-color: white !important;
}

#contactForm input:-ms-autofill {
    box-shadow: 0 0 0 30px #FFBE3C inset !important;
    text-fill-color: white !important;
}

.form-input>div>input::placeholder {
    color: white;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    display: block;
    /* Ensures the message is displayed */
}

.error {
    border: 1px solid red;
    /* Highlight the invalid fields */
}

.dropdown-hr {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
}

.dropdown-hr>option {
    color: black;
}

.form-button {
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.form-carousel-content>h3 {
    color: white;
}

.carousel {
    width: 70%;
}

.carousel-button {
    color: white;
}

.carousel-content {
    margin-left: 120px;
}


.carousel-item>img {
    width: 60px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 20px;
}

.carousel-item>h3 {
    color: white;
    width: 50%;
    margin-bottom: 20px;
}

.carousel-item>p {
    width: 60%;
    color: white;
}

.content-text-bg {
    height: 70px;
    display: flex;
    width: 80%;
    align-items: center;
    background-color: #E3EBF2;
    color: black;
    padding-left: 20px;
    padding-top: 10px;
    cursor: pointer;
}

.carousel-button>img {
    height: 30px;
    width: 30px;
}

@media screen and (max-width: 768px) {
    .description {
        padding: 0px 0px;
    }

    .content {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .content-image-div {
        justify-content: center;
    }

    .content-text-div {
        width: 80%;
        margin-left: 30px;
    }

    .content-text>p {
        color: gray;
        width: 100%;
        line-height: 20px;
    }

    .content-text>div {
        width: 90%;
    }

    .form-carousel {
        height: 100%;
        flex-direction: column;
    }

    .form-carousel-div {
        width: 100%;
        align-items: flex-start;
        padding: 0px 20px;
    }

    .carousel,
    .carousel-inner,
    .carousel-item {
        display: block !important;
        /* Override carousel styles */
        width: auto !important;
        /* Adjust width for responsiveness */
    }

    .form-carousel-content {
        width: 100%;
    }

    .carousel>button {
        display: none;
    }

    .carousel-content {
        margin-left: 0px;
    }

    .carousel-item {
        margin-bottom: 20px;
    }

    .form-carousel-div2 {
        width: 100%;
        justify-content: flex-start;

    }

    .form-carousel-div2>div>h2 {
        width: 100%;
    }

    .form-carousel-div2>div {
        padding: 35px 35px;
    }

    .form-carousel-div2>div {
        width: 100%;
    }

    .carousel-item>h3 {
        color: black;
        width: 100%;
        margin-bottom: 20px;
    }

    .carousel-item>p {
        width: 100%;
        text-align: justify;
    }
}

@media (max-width: 480px) {
    .form-carousel-div2>form>div {
        width: 100%;
        padding: 20px 20px;
    }
}

@media screen and (max-width: 450px) {
    .main-div {
        height: 450px;
    }

    .header {
        width: 94%;
        height: 400px;
    }

    .header-img {
        padding-left: 10px;
        padding-right: 10px;
        height: 100px;
        /* justify-content: start; */
        gap: 3px;
    }

    .header-img>img {
        width: 150px;
        height: 40px;
    }

    .fa-globe {
        font-size: 15px;
    }

    .header-img>div>button {
        padding: 5px 20px;
        width: 120px;
        font-size: 12px;
        line-height: 17px;
        background-color: #FF6058;
        border-radius: 11px;
        font-weight: 600;
    }

    .language-div {
        top: 15px;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    .header-content-main>h2 {
        text-align: center;
        margin-top: 0px;
        font-size: 30px;
        font-family: "Aleo", serif;
        font-weight: 400;
    }

    .header-content-main>img {
        width: 85%;
        height: 100px;
    }

    .header-content-main>h4 {
        font-size: 17px;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 40px;
    }

    .conversation-button {
        width: 270px;
        font-size: medium;
        font-weight: 700;
        color: white;
        background-color: black;
    }

    .description {
        padding: 0px 5px;
    }

    .description>img {
        width: 57px;
        height: 57px;
        margin-bottom: 40px;
    }

    .description>p {
        color: black;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        font-weight: 700;
    }

    .content {
        flex-direction: column-reverse;
        height: 100%;
    }

    .content-image-div {
        width: 100%;
        justify-content: center;
    }

    .content-text-div {
        width: 100%;
        height: 100%;
        display: flex;
        margin-bottom: 20px;
        padding: 0px 20px;
    }

    .content-text>h3 {
        color: black;
        font-size: 23px;
        font-weight: 500px;
    }

    .content-text>p {
        color: gray;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
    }

    .content-image-div>div {
        width: 370px;
        height: 457px;
        background-position: center;
        padding: 0px 20px;
    }

    .content-text>div {
        height: 60px;
        width: 100%;
        color: black;
        padding-left: 20px;
        padding-top: 10px;
        cursor: pointer;
    }

    .content-text>div>p {
        font-size: 15px;
        font-weight: 600;
    }

    .carousel,
    .carousel-inner,
    .carousel-item {
        display: block !important;
        /* Override carousel styles */
        width: auto !important;
        /* Adjust width for responsiveness */
    }

    .form-carousel {
        height: 100%;
        flex-direction: column;
    }

    .form-carousel-div {
        width: 100%;
        align-items: flex-start;
        padding: 0px 20px;
    }

    .form-carousel-content {
        width: 100%;
    }

    .carousel>button {
        display: none;
    }

    .carousel-content {
        margin-left: 0px;
    }

    .carousel-item {
        margin-bottom: 20px;
    }

    .form-carousel-div2 {
        width: 100%;
    }

    .form-carousel-div2>div {
        padding: 35px 15px;
    }

    .carousel-item>h3 {
        color: black;
        width: 100%;
        margin-bottom: 20px;
    }

    .carousel-item>p {
        width: 100%;
        text-align: justify;
    }

}